//Les variables

$primary-color: #ff6060;
$secondary-color: #f0f0f0;
$tertiary-color: #ffff;
$greyDark: #C4C4C4;
$footer-color: #000000;
$background-color: rgba(0, 0, 0, 0.3);
//$linear-cards: linear-gradient(180deg,  rgba(255, 255, 255, 0) 0%,rgba(0, 0, 0, 0.5) 100%);

//$gradient-dark: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 100%);

//les images
$about-background: $background-color url(../../assets/images/banner/aboutBanner.png);
$about-background-mobile: $background-color url(../../assets/images/banner/backgroundbannermobile.png);
$banner-background: $background-color url(../../assets/images/banner/homeBanner.png);

$collapseWidth: 80%;
$min: 1400px;
$max: 1600px;
$breakpoint-desktop: 769px;

$breakpoints: (
        small: 350px,
        medium: 768px,
        large: 992px,
        xlarge: 1200px,
);



$small: 480px;
$medium: 992px;
$large: 1280px;


$size: 24px;
$Mmin: 375px;
$Mmax: 768px;
$widthCard: 100%;